
$purple: #512DA8;
$pink: #00DCC7;
$gray: #323134;

$proxima-nova: "proxima-nova", sans-serif;

html, body {
  font-family: $proxima-nova;
}

main {
    padding: 75px 0 0;
    overflow: hidden;
}

section {
  padding: 30px 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1 {
    font-size: 70px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.07;
    letter-spacing: normal;
    color: #323134;

    @include media-query($medium-down) {
      font-size: 30px;
    }
}

h2 {
    font-size: 50px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.26;
    letter-spacing: normal;
    color: #323134;
    margin-bottom: 50px;

    @include media-query($medium-down) {
      font-size: 25px;
      margin-bottom: 35px;
    }
}

img {
  max-width: 100%;
}

.container {
  width: 1250px;
  margin: auto;
  padding: 66px 30px;
  max-width: 100%;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-wrap: wrap;

  @include media-query($medium-down) {
    padding: 30px;
  }
}

.container--centered {
  @include media-query($large-up) {
    align-items: center;
  }
}

.container--reversed {
  @include media-query($medium-down) {
    flex-direction: column-reverse;
  }
}

.container--no-padding {
  @include media-query($medium-down) {
    padding: 0 30px;
  }
}

.site-header {
  background-color: $purple;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 6px 0 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 100;
  height: 60px;

  > div {
    @include media-query($medium-down) {
      flex: 1;
      justify-content: center;
    }
  }
}


.logo {
  padding: 0 20px;
}

.merchant-login, .merchant-login--mobile {
  padding: 0 20px;

  a {
    font-weight: 900;
    font-size: 14px;
    text-decoration: none;
    position: relative;

    &:after {
      content: "";
      background: white;
      position: absolute;
      height: 1px;
      width: 100%;
      bottom: -4px;
      left: 0;
      right: 0;
    }
  }
}

.merchant-login {
  @include media-query($medium-down) {
    display: none;
  }
}

.menu {
  position: relative;
  text-align: center;
  height: 100%;

  > div {
    display: inline-block;
    position: relative;
    height: 100%;
  }

  ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    height: 100%;
    z-index: 10;
    position: relative;
    height: 100%;
    align-items: center;
  }

  li {
    width: 150px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
  }

  a {
    color: white;
    text-decoration: none;
    text-shadow: 0 1px 2px rgba(0,0,0,0.50);
  }

  .nav-pointer {
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s;
    width: 170px;
  }

  @include media-query($medium-down) {
    display: none;
  }

}

.toggle {
  display: none;

  @include media-query($medium-down) {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    align-items: center;
  }
}

#toggle-icon {
  width: 30px;
  height: 24px;
  position: relative;
  // margin: 50px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  outline: none;
}

#toggle-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: white;
  border-radius: 10px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#toggle-icon span:nth-child(1) {
  top: 0px;
}

#toggle-icon span:nth-child(2),#toggle-icon span:nth-child(3) {
  top: 10px;
}

#toggle-icon span:nth-child(4) {
  top: 20px;
}

#toggle-icon.open span:nth-child(1) {
  top: 10px;
  width: 0%;
  left: 50%;
}

#toggle-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#toggle-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#toggle-icon.open span:nth-child(4) {
  top: 10px;
  width: 0%;
  left: 50%;
}

.mobile-menu {
  // display: none;
  background: $pink;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  box-shadow: 0 6px 0 0 rgba(0, 0, 0, 0.1);

  @include media-query($large-up) {
    display: none;
  }

  .download {
    justify-content: center;
    padding: 30px;
    text-align: center;
  }

  .merchant-login--mobile {
    a {
      color: white;
    }
  }

  .login {
    padding: 30px;
    background: white;
    justify-content: center;

    a {
        color: $purple;
        border-bottom-color: $purple;
    }
  }
}

.login {
  display: flex;
  align-items: center;
  padding: 0 35px;
  text-align: center;

  a {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid #D8D8D8;
    padding-bottom: 5px;
  }
}

.toggle {
  display: none;

  @include media-query($medium-down) {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    align-items: center;
  }
}

.sign-up {
  background: $pink;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 0 35px;
  text-transform: uppercase;
  transition: all 0.3s;
  text-decoration: none;
  color: white;
  flex-direction: column;
  justify-content: center;

  // &:hover {
  //   opacity: 0.8;
  // }

  span {
    display: block;
  }

  a {
    color: white;
    text-decoration: none;
  }
}

.block {

}

.map-text {
    max-width: 550px;
    margin: auto;

    @include media-query($medium-down) {
      padding-bottom: 50px;
    }
}

.map, .notification, .ar {
    max-width: 350px;
    margin: auto;
    position: relative;

    @include media-query($medium-down) {
      max-width: 225px;
    }
}

.map {
  > img {
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.15), 0 15px 30px 0 rgba(0, 0, 0, 0.15), inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  }
}

.swirl {
  animation: swirl 30s linear infinite;
}

.swirl-reverse {
  animation: swirl-reverse 30s linear infinite;
}

.map-circle-1 {
  top: -50px;
  right: -200px;

  @include media-query($medium-down) {
    width: 220px;
    top: -30px;
    right: -75px;
  }
}

.map-circle-2 {
  bottom: -30px;
  left: -170px;

  @include media-query($medium-down) {
    width: 135px;
    bottom: -50px;
    left: -40px;
  }
}

.notification-circle-1 {
  top: -50px;
  left: -200px;

  @include media-query($medium-down) {
    left: -90px;
    top: 0;
    width: 110px;
  }
}

.notification-circle-2 {
  bottom: -140px;
  right: -210px;

  @include media-query($medium-down) {
    width: 190px;
    bottom: -95px;
    right: 20px;
  }
}

@keyframes swirl {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes swirl-reverse {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.coffee-circle-1 {
    top: -100px;
    right: -40px;

    img {
      width: 35px;
    }

    @include media-query($medium-down) {
      top: -40px;
      right: -30px;

      img {
        width: 20px;
      }
    }
}

.coffee-circle-2 {
  top: 20px;
  left: -45px;

  img {
    width: 70px;
  }

  @include media-query($medium-down) {
    left: -25px;

    img {
      width: 42px;
    }
  }
}

.coffee-circle-3 {
  bottom: -180px;
  right: -135px;

  img {
    width: 160px;
  }

  @include media-query($medium-down) {
    bottom: -115px;
    right: -85px;

    img {
      width: 96px;
    }
  }
}

.coffee-circle-4 {
  top: -150px;
  right: -200px;

  img {
    width: 350px;
  }

  @include media-query($medium-down) {
    top: -65px;
    right: -135px;

    img {
      width: 210px;
    }
  }
}

.ar, .notification, .map {
  // box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.15), inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  position: relative;

  > img {
    display: block;
    border-radius: 10px;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.15), inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  }
}

.ar-circle-1 {
  top: 30px;
  left: -140px;

  @include media-query($medium-down) {
    width: 127px;
    left: -85px;
  }
}

.ar-circle-2 {
  bottom: -90px;
  right: -170px;


  img {
      width: 435px;
  }

  @include media-query($medium-down) {
    bottom: -55px;
    right: -140px;

    img {
      width: 275px;
    }
  }
}

.notification {
  float: right;
  margin: 0;

  @include media-query($medium-down) {
    max-width: 165px;
  }
}

.popout {
    position: absolute;
    bottom: 10px;
    left: -125%;
    width: 500px;

    @include media-query($medium-down) {
      width: 200px;
      left: -105%;
    }
}

.board-text {
    max-width: 550px;
    margin: auto;

    p {
        font-size: 26px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.38;
        letter-spacing: -0.4px;
        color: #49484d;
        margin-bottom: 20px;

        @include media-query($medium-down) {
          font-size: 16px;
          line-height: 1.5;
        }

        &:last-of-type {
          margin-bottom: 0;
        }
    }
}



.board {
    max-width: 330px;
    margin: auto;

    @include media-query($medium-down) {
      max-width: 150px;
      padding-bottom: 30px;
    }
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;

    &:first-of-type {
      margin: 0;
    }

    @include media-query($medium-down) {
      margin-top: 10px;
    }
}

.ad-text {
    h2 {
        margin: 0;
    }
}

.ad-cta {
    p {
        font-size: 26px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.38;
        letter-spacing: -0.4px;
        color: #49484d;
    }


    @include media-query($medium-down) {
      margin-bottom: 30px;

      h2 {
        font-size: 25px;
        margin-bottom: 20px;
      }

      p {
        font-size: 16px;
        line-height: 1.5;
      }
    }
}

.ad-image {
  position: relative;
  @include media-query($medium-down) {
    left: -50px;
    width: calc(100% + 50px);
  }
}

.ad-block {
    p {
        font-size: 40px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.23;
        letter-spacing: -0.8px;
        color: #353532;
    }

    h2 {
      margin-bottom: 25px;
      padding-bottom: 25px;
      border-bottom: 5px solid #00DCC7;
    }

    @include media-query($medium-down) {
      margin-bottom: 30px;

      h2 {
        font-size: 50px;
        line-height: 1.26;
        margin-bottom: 30px;
        padding-bottom: 0;
      }

      p {
        font-size: 25px;
        line-height: 1.2;
        letter-spacing: -0.5px;
      }
    }
}

.ar-text {
    ul, p {
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.38;
        letter-spacing: -0.4px;
        color: #49484d;
        font-size: 26px;

        @include media-query($medium-down) {
          font-size: 16px;
          margin-bottom: 20px;
        }
    }

    p {
      margin-bottom: 40px;
    }

    ul {
        padding-left: 75px;
        list-style-type: none;

        @include media-query($medium-down) {
          padding-left: 40px;
        }
    }

    li {
        padding-bottom: 40px;
        position: relative;

        @include media-query($medium-down) {
          padding-bottom: 20px;
        }

        &:before {
          content: "";
          height: 20px;
          width: 20px;
          border-radius: 50%;
          background-color: #512da8;
          position: absolute;
          left: -70px;
          top: 7px;

          @include media-query($medium-down) {
            width: 10px;
            height: 10px;
            top: 5px;
            left: -35px;
          }
        }
    }

    @include media-query($medium-down) {
      margin-bottom: 30px;
    }
}

.mobile--hide {
  @include media-query($medium-down) {
    display: none !important;
  }
}

.desktop--hide {
  @include media-query($large-up) {
    display: none !important;
  }
}

.screenshot {
  // > img {
  //   box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.15);
  //   border-radius: 10px;
  // }
}

.section-screenshot {
  @include media-query($medium-down) {
    padding: 0;
  }
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  a {
    color: white;
    text-decoration: none;
  }
}

.logo-extra {
  color: white;
  padding: 10px 20px;
  border-left: 2px solid white;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2.5px;
  font-size: 14px;
}

.merchant-login {
  a {
    color: white;
  }
}

.section-banner {
  position: relative;
  padding: 50px 0;

  @include media-query($medium-down) {
    padding: 100px 0 30px;
  }
}

.circle {
  position: absolute;
  z-index: -1;

  img {
    display: block;
  }
}

.green-circle {
  top: 50px;
  left: -100px;

  @include media-query($medium-down) {
    display: none;
  }
}

.yellow-circle {
  bottom: 0;
  right: -120px;

  @include media-query($medium-down) {
    width: 50px;
    right: -20px;
    bottom: 70px;
  }
}

.red-circle {
  bottom: 30px;
  left: 15%;

  @include media-query($medium-down) {
    left: -50px;
    bottom: auto;
    top: 50%;
    width: 90px;
  }
}

.blue-circle {
  top: 50px;
  right: 45%;

  @include media-query($medium-down) {
    width: 27px;
    right: 50px;
    top: 120px;
  }
}

.footer {
  background-color: $purple;
  position: relative;
  overflow: hidden;
  // z-index: 100;
  // bottom: 0;
  // left: 0;
  // right: 0;

  &:before {
    top: 0;
  	left: 50%;
  	border: solid transparent;
  	content: " ";
  	height: 0;
  	width: 0;
  	position: absolute;
  	pointer-events: none;
  	border-color: rgba(255, 255, 255, 0);
  	border-top-color: #ffffff;
  	border-width: 100px;
  	margin-left: -100px;

    @include media-query($medium-down) {
      border-width: 25px;
      margin-left: -25px;
    }
  }

  @include media-query($large-up) {
    height: 100vh;
  }

  @include media-query($medium-down) {
    padding-bottom: 0;
  }
}

.footer-inner {
  z-index: 101;

  @include media-query($large-up) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @include media-query($medium-down) {
    padding: 50px 0;
  }

  .sign-up {
    width: 300px;
    margin: auto;
    justify-content: center;
    padding: 20px;
    box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    position: relative;
    transition: all 0.3s;
    text-decoration: none;
    color: white;

    span {
      display: block;
      font-weight: 800;
      font-size: 30px;
      line-height: 1.25em;
    }

    @include media-query($medium-down) {
        width: 230px;
        padding: 15px;

        span {
          font-size: 20px;
        }
    }
  }

  h1 {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 30px;
    color: white;

    @include media-query($medium-down) {
      font-size: 28px;
    }
  }

  @include media-query($medium-down) {
    text-align: center;
  }
}

.white-circle {
  position: absolute;
  width: 480px;
  top: 0;
  right: 50px;

  @include media-query($medium-down) {
    top: -30px;
    right: -65px;
    width: 135px;
  }
}

.white-dotted-circle {
  position: absolute;
  bottom: 0;
  left: 20%;
  z-index: 1;
  width: 480px;

  @include media-query($medium-down) {
    left: -5px;
    bottom: -5px;
    width: 135px;
  }
}

.footer-cta {
  font-size: 30px;
  margin: 0;
}

.site-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  font-size: 12px;
  box-sizing: border-box;
  font-weight: 400;

  @include media-query($large-up) {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  @include media-query($medium-down) {
    font-size: 11px;
  }

  a, span {
    color: white;
    transition: all 0.3s;

    &:hover {
      opacity: 0.8;
    }
  }
}

.site-footer-name {
  text-align: right;
}

.site-footer-nav {
  ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    padding: 0 30px;

    @include media-query($medium-down) {
      padding: 0 5px;
    }
  }
}

.section-ad {
  @include media-query($medium-down) {
    padding: 0;
  }
}
